body{
    background-color:rgb(191, 137, 241);
    color:aquamarine;
}

div.contenedor{
   border: 10px white solid;     
   background-color: rgb(125, 125, 235);
}

#contenedor{
    border: 10px rgb(238, 238, 152) solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    border: 3px;
    padding: 10px;
    background-color: rgb(81, 81, 248);
    font-size: 20px;
    color:aliceblue;
}